*{
  font-family: 'Oswald', sans-serif;

}

body {
  background-color: #181818;
}

h1,h2,h3 {
  color:#E50914;
}

.text-color {
  color: #FFFFFF;
}

.text-color-2 {
  color:#E50914;
}


.text-color-2:hover {
  color:#E50914;
}

.navbar-color{
  background-color:#000000de;
}

.a-color{
  color:#E50914;
}

.a-color:hover{
  color:#E50914;
  border-bottom: 1px solid #E50914;
  transition: ease-in-out 0.3s;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://cdn.hipwallpaper.com/i/59/5/iwKCbM.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-color{
  color: #FFFFFF;
  background-color: #E50914;
  border-color:#E50914 ;
}

.btn-color:hover{
  color: #FFFFFF;
  background-color: #e50914d3;
  border-color:#E50914 ;
}

.card-body:hover{
  background-color:#18181838;
  transition: ease-in-out 0.5s;
}

.bg-footer {
  background-color:#000000;
}

.dropdown-item:hover{
  background-color:#181818 ;
}